.custom-padding-button {
    padding-top: 6px;
}
.custom-table-header {
    font-size: 23px;
    color: #3ca2fa;
}
.customTitle{
    font-size:25px;
    color:#427CAB;
    height: 35px;
}
.boldText{
    font-weight: bold;
}
.customLabel{
    font-size:25px;
    /* margin-top: 10px; */
}
.custom-background-color{ 
    background-color:#FAFAFA;
    height: 60px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  table > tbody > tr.red-row.sapUiTableContentRow.sapUiTableRow {
      background-color: #ff6868;
  }
  table > tbody > tr.yellow-row.sapUiTableContentRow.sapUiTableRow {
    background-color: #ffff7d;
}